.hide{
  display:none;

}
#hide2{
  display: none;
}
.hide3{
  display:none;
}
h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.fa-lightbulb {
  animation-duration: 10s;
  animation-name: slidein;
}
